<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>BMI Calculator</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="mystyles.css">
</head>
<body>
<header class="Jumbotron">
<div class="container">
<div class="col-sm-12">
<H1>BMI Calculator<H1>
</div>
</div>
</header>
<div class = "container">
<div class= row>
<div class = "col-sm-6 push-left">
	<form class="form-horizontal" action= "/bmi" method= "post">
  <div class="form-group">
    <label class = "control-label col-sm-6" for="feet">Enter your Height</label>
    <div class="col-sm-3">
      <input type="number" class="form-control required" id="feet" name="feet" placeholder="Feet">
    </div>
 <div class="col-sm-3">
      <input type="number" class="form-control required" id="inches" name= "inches" placeholder="Inches">
    </div>
  </div>
<div class="form-group">
    <label class = "control-label col-sm-6" for="lbs">Enter your Weight</label>
    <div class="col-sm-6">
      <input type="number" class="form-control required" id="lbs" name="lbs" placeholder="lbs">
    </div>
  </div>
  <div class="form-group">
    <div class= "col-sm-6"></div>
    <div class= "col-sm-6">
    <button class = "btn btn-success" id = "submit" type= "submit">Submit</button>
  </div>
    </div>
  </div>
  <div class= "col-sm-6 pull right">
    <div class= "styled">
    <h3 class= "styled"><%= title %></h3>
  </div>
  </div>
  
</form>
</div>
</div>
</div>	
</body>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/embeddedjavascript/ejs_production.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
